* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f3f2f1;
}

h1 {
  margin: 40px 0 0;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

.col {
  position: relative;
  display: block;
  padding: 5px;
  width: 33.3333%;
  float: left;
}

.col .info {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 184px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: .5rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.col:hover .info {
  opacity: 1;
  visibility: visible;
}

#feed {
  margin: 30px auto 0;
  padding: 10px;
  background-color: #fff;
  border-radius: .5rem;
  width: 600px;
  -webkit-box-shadow: 2px 1px 10px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 2px 1px 10px 0 rgba(0, 0, 0, 0.05);
}

#feed img {
  display: block;
  margin: 0;
  width: 100%;
  border-radius: .5rem;
}

#feed:after {
  display: block;
  content: '';
  clear: both;
}
